.img_fufik{
width: 25%;



}
.p_fufik{
font-size: 50px;


}
.h2_fufik{
    font-size: 50px;

} 
.fufik{
border-bottom: 2px solid black;

}
.a_fufik_2{
font-size: 40px;
padding-left: 100px;
padding-right: 100px;
color: black;

}